input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

.quantity_block input {
    width: 40px;
    height: 20px;
    border: none;
	font-size: 16px;
}

.quantity_block {
    display: flex;
    align-items: center;
    border:1px solid #750DC5;
    border-radius:8px;
}
.quantity_arrow_minus,
.quantity_arrow_plus {
	cursor: pointer;
	border-radius: 4px;
	outline: none;
}
.quantity_num {
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 4px;
	outline: none;
}
