@import url('../../utils/variables.css');

.blue,.primary,.defult {
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius-m);

}


.primary {
    background-color: var(--prymari-color);
    color:var(--white-color);
}

.blue {
    color:var(--black-color);
    background: var(--blue-color);
}

.defult {
    background:none;
}


.small {
padding: var(--gap-2xs) var(--gap-2s);
}


.middle {
    padding: var(--gap-2s) var(--gap-m);
}

.large {
    padding: var(--gap-2s) var(--gap-xl);
}
