@import url('../../variables.css');



.blue,.primary,.text {
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius-m);
    display: flex;
    align-items: center;
    justify-content: center;
}


.primary {
    background-color: var(--prymari-color);
    color:var(--white-color);
}

.blue {
    color:var(--black-color);
    background: var(--blue-color);
}

.defult {
    border:none;
    cursor: pointer;
    /* border: var(--border-radius-2xs) solid var(--gray-color);  */
    background:none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.disabled {
    cursor:	not-allowed;
    background: gray;
}

.text {
background:none;
padding: 0;
}


.small {
padding: var(--gap-2xs) var(--gap-2s);
}


.middle {
    padding: var(--gap-2s) var(--gap-m);
}

.large {
    padding: var(--gap-m) var(--gap-3xl);
}


.shape {
    cursor: pointer;
    border: var(--border-radius-2xs) solid var(--gray-color); 
    border-radius:var(--full-size);
}