@import url('../../variables.css');


.characteristics > ul > li {
    margin-top:var(--gap-xl);
    }
    
    .characteristics > ul :not(:first-child) {
        color:var( --gray-color-rich);
    }

@media (max-width:950px) {
    .characteristics > ul > li {
        text-align: center;
    }
}