@import url('../../variables.css');

.wrapp {
    width: 100%;
    height: 200px;
    border: var( --border-heigth-2xs) solid var(--purpure-color);
    border-radius: var(--border-radius-m);
}

.choise_btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
   border-bottom: var( --border-heigth-2xs) solid var(--purpure-color);
    width: 100%;
    font-size: 22px;
    font-weight: 600;
}