@import url('../../utils/variables.css');

.input_field {
width: 800px;
position: relative;
}


.input_header {
    width: 100%;
    border:none;
    border-radius: 10px;
    background:var(--gray-color);
    padding: var(--gap-2s);
    color:var(--white-color)
}

.input_header:focus {
    outline: none;
  }

  .icon_field {
    position: absolute;
    top: 50%;
    left: var(--gap-2s);
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: var(--gap-3xs);
  }


.fa {
    padding: 10px;
    background:url("https://img.icons8.com/?size=100&id=132&format=png&color=000000") no-repeat;
    background-position: center;
    background-size: contain;
}



