@import url('../../utils/variables.css');
.container {
    position: relative;
    height: var(--wrap-container-heigth);
    width:var(--full-size);
    
}

.window {
    overflow: hidden;
    height:var(--full-size);
    width:var(--full-size);
    border-radius:var(--border-radius-2s);
}

.all_items_container {
    height:var(--full-size);
    display: flex;

    transition: translateX;
    transition-property: transform;
    transition-duration: 1200ms;
    transition-timing-function: ease-in-out;
}

.right,.left {
    position: absolute;
    top:var(--half-size);
    z-index: var(--btn-z-index);
}

.right {
    right: 0;
}

.left {
    left: 0;
}