:root {
    --white-color:#fff;
    --gray-color:#C1C1C1;
    --blue-color:#BCC5FF;




    --gap-3xs: 4px;
    --gap-2s: 10px;
    --gap-m: 16px;
    --gap-l: 20px;
    --gap-3xl: 30px;
    --gap-6xl: 40px;
    --gap-10xl: 80px;


    --app-min-height: 100vh;
    --app-max-width: 1440px;

    --border-radius-2xs: 1px;
    --border-radius-m: 8px;


    --font-size-xs: 12px;
    
    --full-size:100%
}