.item1 {
    height: 100%;
    width: 100%;;
    background-color: red;
}
.item2 {
    height: 100%;
    width: 100%;
    background-color: blue;
}
.item3 {
    height: 100%;
    width: 100%;
    background-color: green;
}


.main_page_container {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}