@import url("../../variables.css");

.main_container {
	display: flex;
	flex-direction: column;
	gap: var(--gap-2s);
}

.online_pay {
	width: 200px;
	padding: var(--gap-2s);
	border: var(--border-heigth-2xs) solid var(--green-color);
	border-radius: var(--border-radius-2s);
	color: var(--green-color);
}

.btn_new_cerd {
    width: 150px;
    border: var(--border-heigth-2xs) solid var(--gray-color-rich);
	border-radius: var(--border-radius-2s);
	flex-direction: row-reverse;
	align-items: center;
	font-size: 14px;
}
